#background{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: blue;
}

body{
    margin: 0;
}

.foregroundrect, #keyrect{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    font-size: 15px;
}

#rect0{
    border-top-left-radius: 200px;
}

#rect1, #keyrect{
    left: 200px;
    border-top-right-radius: 200px;
    transform-origin: bottom left ; 
    z-index: 5;    
}
#rect2{
    top: 200px;
    left: 200px;
    border-bottom-right-radius: 200px;
}
#rect3{
    top: 200px;
    border-bottom-left-radius: 200px;
}
#innerrect{
    z-index: 15;
    position: absolute;
    height: 340px;
    width: 340px;
    font-size: 60px;
    border-radius: 170px;
    background-color: white;
    transform: translate(30px, 30px);
    /* text-align: center; */
}
#percent{
    display: inline-block;
    padding: 140px
}